


 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
<body>
<div class= "container">
  <header>
    <nav>
      
       
          <a class="navbar-brand" href="#" style="font-size: 1.5rem;margin-right: -210px;">
            <img src="https://previews.123rf.com/images/anastasialila/anastasialila1909/anastasialila190900028/133012872-logo-baby-health-icon-massage-or-doctor-care-icon-body-child-symbol-silhouette.jpg" alt="" width="30" height="30">
          </a>       
     <h1 style="color: rgb(145, 13, 116); font-size:30px">Clinica</h1>
     
      <div class = "menu">
        <ul style="color:rgb(145, 13, 116)">
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class ="login">
        <ul>
          <li><a routerLink="/register" style="text-decoration: none; color:rgb(145, 13, 116)"> SignUp</a></li>
          <li><a routerLink="/login" style="text-decoration: none; color:rgb(145, 13, 116)">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
</body>