<!-- 
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-all sticky-top ">
        <div class="container-fluid">
            <span>
                <a href="/" class="navbar-brand nav-link navTexts">
                    <img src="assets/images/pinkbaby.png"  alt="" width="100" height="100" class="logoStyle">
                </a>
            </span>
          
            <div class="spacer"></div>
          <span class="navbar-brand brand-name"><a class="nav-link active title1" aria-current="page">{{title}}</a></span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 about">
              <li class="nav-item">
                <a routerLink='/about' class="nav-link active" aria-current="page" >About Us</a>
              </li>
              <li class="nav-item">
                <a routerLink='/contact' class="nav-link active" aria-current="page" >Contact Us</a>
              </li>
              
            </ul>
            <span class=" form-inline my-2 my-lg-0 auth sign">
              <a routerLink='/login' class="nav-link" ><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;
                Login</a>
              <a routerLink='/register' class="nav-link" ><i class="fa fa-sign-up" aria-hidden="true"></i>&nbsp;
                Sign Up</a>
              <a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
                Logout</a>
            </span>
          </div>
        </div>
      </nav> -->

      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light  mb-4">
          
            <a routerLink="/" class="navbar-brand" >
              <img src="https://previews.123rf.com/images/anastasialila/anastasialila1909/anastasialila190900028/133012872-logo-baby-health-icon-massage-or-doctor-care-icon-body-child-symbol-silhouette.jpg"  alt="" width="50" height="50" class="logoStyle">
            Clinica</a>
        
          <div class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-md-0" >
              <li class="nav-item">
                <a routerLink="/about"  class="nav-link" >About Us</a>
              </li>
              <li class="nav-item">
                <a routerLink="/contact" class="nav-link" >Contact Us</a>
              </li>
              <li class="nav-item">
                <a routerLink="/login" class="nav-link" >Login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/register" class="nav-link" >Register</a>
              </li>
            </ul>
          </div> 
        </nav>
        </div>
    