/* .container-fluid {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a870a0a2278e7758e01f4f2/1518809964114-FFDEIVDDXQ9FFVV80NOO/BLACK-MOTHER-AND-BABY-ON-COMPUTER-facebook.jpg?format=2500w");
    height: 70vh;
    color: #fff;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

