@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html {
    height: 100%;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }

  /* .login-form{
    display: none;
  } */